.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.floatingIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;

  @mixin light {
    background-color: white;
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  }
}
